@model ApplicationForm
@{
    ViewBag.Title = "报名表";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>报名表编号：@Model.Id</p>

<table class="table table-bordered">
    <colgroup>
        <col class="col-md-2" />
        <col class="col-md-3" />
        <col class="col-md-2" />
        <col class="col-md-3" />
        <col class="col-md-2" />
    </colgroup>
    <tbody>
        <tr>
            <th colspan="5">求职者信息</th>
        </tr>
        <tr>
            <td>姓名</td>
            <td>@Model.Person.DisplayName @Html.Partial("_RealIdState", Model.Person)</td>
            <td>性别</td>
            <td>@(Model.Person.Sex == Sex.Male ? "男" : "女")</td>
            <td rowspan="5">
                @if (string.IsNullOrEmpty(Model.HeadImageFile))
            {
                <p>没有照片，请到@(Html.ActionLink("管理资料", "Files", new { id = Model.Id }, new { @class = "btn btn-default" }))上传证件照片。</p>
        }
        else
        {
            <img src="@Url.Action("Thumbnail", "File", new { id = Model.HeadImageFile })" class="img-responsive" style="max-width:150px; max-height:150px;" />
    }
            </td>
        </tr>
        <tr>
            <td>出生日期</td>
            <td>@Model.Person.DateOfBirth.ToShortDateString() （@(Model.Person.DateOfBirth.Age())岁）</td>
            <td>民族</td>
            <td>@Model.Person.Ethnicity</td>
        </tr>
        <tr>
            <td>身份证号码</td>
            <td>@Model.Person.IDCardNumber</td>
            <td>住址</td>
            <td>@Model.Person.Address</td>
        </tr>
        <tr>
            <td>移动电话</td>
            <td>@Model.Person.Mobile</td>
            <td>电子邮件</td>
            <td>@Model.Person.Email</td>
        </tr>
        <tr>
            <td>籍贯</td>
            <td>@Model.NativePlace</td>
            <td>现居地</td>
            <td>@Model.Source</td>
        </tr>
        <tr>
            <td>政治面貌</td>
            <td>@Model.PoliticalStatus</td>
            <td>健康状况</td>
            <td>@Model.Health</td>
            <td>婚姻状况：@Model.Marriage</td>
        </tr>
        <tr>
            <th colspan="5">教育经历</th>
        </tr>
        <tr>
            <td>毕业院校</td>
            <td>@Model.School</td>
            <td>主修专业</td>
            <td>@Model.Major</td>
            <td></td>
        </tr>
        <tr>
            <td>学历</td>
            <td>@Model.EducationalBackground</td>
            <td>学位</td>
            <td>@Model.Degree</td>
            <td></td>
        </tr>
        <tr>
            <th colspan="5">申请职位/类别</th>
        </tr>
        <tr>
            <td>职位/类别</td>
            <td>@Model.Job.Name</td>
            <td>报名专业</td>
            <td>@Model.SelectedMajor</td>
            <td></td>
        </tr>
        <tr>
            <td>自我介绍</td>
            <td colspan="4">@Model.Accomplishments</td>
        </tr>
        <tr>
            <th colspan="5">报名表属性</th>
        </tr>
        <tr>
            <td>创建时间：</td>
            <td>@Model.WhenCreated.ToString()</td>
            <td>修改时间：</td>
            <td>@Model.WhenChanged.ToString()</td>
            <td></td>
        </tr>
        <tr>
            <td>提交时间：</td>
            <td>@(Model.WhenCommited.HasValue ? Model.WhenCommited.Value.ToString() : "N/A")</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th colspan="5">审核信息</th>
        </tr>
        <tr>
            <td>资料审查：@Html.Partial("_FileReviewState")</td>
            <td></td>
            <td>时间：@Model.WhenFileReviewed</td>
            <td>附加信息：</td>
            <td>@Model.FileReviewMessage</td>
        </tr>
        <tr>
            <td>资格审核：@Html.Partial("_AuditState")</td>
            <td></td>
            <td></td>
            <td>附加信息：</td>
            <td>@Model.FileReviewMessage</td>
        </tr>
        
    </tbody>
</table>
<hr />
<h2>报名资料</h2>
<h3>学历证明</h3>
<div class="row">
    @foreach (var file in this.Model.AcademicCertFileList)
    {
        <div class="col-md-2 img-thumbnail">
            <img src="@Url.Action("Thumbnail","File", new { id = file })" class="img-responsive" />
        </div>
    }
</div>
<hr />
<h3>学位证明</h3>
<div class="row">
    @foreach (var file in this.Model.DegreeCertFileList)
    {
        <div class="col-md-2 img-thumbnail">
            <img src="@Url.Action("Thumbnail","File", new { id = file })" class="img-responsive" />
        </div>
    }
</div>
<hr />
<h3>其他资料</h3>
<div class="row">
    @foreach (var file in this.Model.OtherFileList)
    {
        <div class="col-md-2 img-thumbnail">
            <img src="@Url.Action("Thumbnail","File", new { id = file })" class="img-responsive" />
        </div>
    }
</div>

@if (!Model.WhenCommited.HasValue)
{
    @Html.ActionLink("修改报名表", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("管理资料", "Files", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("提交报名表", "Commit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("删除报名表", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
}
@Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })