@model ApplicationFormEditViewModel

@{
    ViewBag.Title = "修改报名表";
}


<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<h2>职位/类别</h2>
<table class="table">
    <colgroup>
        <col class="col-md-2" />
        <col class="col-md-10" />
    </colgroup>
    <tr>
        <td>名称</td>
        <td>@Model.Job.Name</td>
    </tr>
    <tr>
        <td>详细说明</td>
        <td>@Model.Job.Description</td>
    </tr>
    <tr>
        <td>工作地点</td>
        <td>@Model.Job.WorkLocation</td>
    </tr>
    <tr>
        <td>学历要求</td>
        <td>@Model.Job.EducationBackgroundRequirement</td>
    </tr>
    <tr>
        <td>学位要求</td>
        <td>@Model.Job.DegreeRequirement</td>
    </tr>
    <tr>
        <td>专业要求</td>
        <td>@Model.Job.MajorRequirement</td>
    </tr>
</table>
<hr />
<h2>报名信息</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("Editor")
    <button type="submit" class="btn btn-primary">修改</button>
    @Html.ActionLink("取消", "Detail", new { id = this.ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default" })
}
