@model ApplicationForm
@{
    ViewBag.Title = "报名资料";
}

@section head
{
    @Styles.Render("~/Content/jqueryfileupload")
}

<div class="page-header">
    <h1>报名资料</h1>
</div>
<p>要完成报名，我们需要收集证件资料。使用扫描仪（推荐）或拍照方式获得证件图片，根据提示对应上传。</p>
<p>只接受jpg和png图片格式。文件大小不超过3MB（兆字节）。</p>
<p></p>
<hr />
<h2>证件照</h2>
<p>近期免冠白底证件照（见示例），仅支持JPG和PNG图片。尺寸标准为2英寸，图像尺寸不小于207*290像素，文件大小不超过1MB。</p>
@using (Html.BeginForm("UploadHeadImage", "ApplicationForm", new { id = Model.Id }, FormMethod.Post, new { id = "headImageUpload", enctype = "multipart/form-data" }))
{
    <p>
        <span class="btn btn-success btn-sm fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]">
        </span>
    </p>
    <div class="row">
        <div class="col-md-2 img-thumbnail">
            <button type="button" class="close" aria-label="Close" onclick="RemoveHeadImage()"><span aria-hidden="true">&times;</span></button>
            <img id="headimg" src="@(string.IsNullOrEmpty(Model.HeadImageFile) ? "/Content/WebRes/NoHeadImage.jpg" : Url.Action("Thumbnail", "File", new { id = Model.HeadImageFile }))" class="img-responsive" />
        </div>
    </div>
}


<hr />
<h2>学历证明文件</h2>
<ul>
    <li>本年毕业尚未取得毕业证的，上传《就业推荐表》</li>
    <li>上一年毕业的，必须上传《毕业证》</li>
    <li>留学生须提供《国外学历证明》</li>
</ul>
<p>上传《就业推荐表》或《国外学历证明》时，页面应包含学校、就读专业、学生基本信息、学校审核签章等，信息传送不完整的，可能无法通过资料审查。</p>
<p>仅支持JPG和PNG图片。推荐使用扫描仪按不小于150dpi分辨率扫描。图像面积不小于1240*1754像素（以A4纸竖放计算），文件大小不超过1MB。资料不超过10页。</p>
@using (Html.BeginForm("UploadAcademicCertFile", "ApplicationForm", new { id = Model.Id }, FormMethod.Post, new { @class = "fileupload", enctype = "multipart/form-data", data_category = "academiccert" }))
{
    <p>
        <span class="btn btn-success btn-sm fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]">
        </span>
    </p>
    <div class="row">
        @foreach (var item in this.Model.AcademicCertFileList)
        {
            <div class="col-md-2 img-thumbnail">
                <button type="button" class="close" aria-label="Close" onclick="RemoveFile(this)" data-category="academiccert" data-formid="@Model.Id" data-fileid="@item"><span aria-hidden="true">&times;</span></button>
                <img src="@Url.Action("Thumbnail", "File", new { id = item })" class="img-responsive" />
            </div>
        }
    </div>
}


<hr />
<h2>学位证书</h2>
<p>未取得学位证书时请留空。</p>
<p>仅支持JPG和PNG图片。推荐使用扫描仪按不小于150dpi分辨率扫描。图像面积不小于1240*1754像素（以A4纸竖放计算），文件大小不超过1MB。资料份数不超过10份。</p>
@using (Html.BeginForm("UploadDegreeCertFile", "ApplicationForm", new { id = Model.Id }, FormMethod.Post, new { @class = "fileupload", enctype = "multipart/form-data", data_category = "degreecert" }))
{
    <p>
        <span class="btn btn-success btn-sm fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]">
        </span>
    </p>
    <div class="row">
        @foreach (var item in this.Model.DegreeCertFileList)
        {
            <div class="col-md-2 img-thumbnail">
                <button type="button" class="close" aria-label="Close" onclick="RemoveFile(this)" data-category="degreecert" data-formid="@Model.Id" data-fileid="@item"><span aria-hidden="true">&times;</span></button>
                <img src="@Url.Action("Thumbnail", "File", new { id = item })" class="img-responsive" />

            </div>
        }
    </div>
}

<hr />
<h2>其他资料</h2>
<p>其他您认为有必要提供的资料，例如CET证书、资格证书、荣誉证书等。</p>
<p>仅支持JPG和PNG图片。其他您认为有必要提供的资料，如技能证书、奖状等。文件大小不超过1MB。资料不超过10页。</p>
@using (Html.BeginForm("UploadOtherFile", "ApplicationForm", new { id = Model.Id }, FormMethod.Post, new { @class = "fileupload", enctype = "multipart/form-data", data_category = "other" }))
{
    <p>
        <span class="btn btn-success btn-sm fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]">
        </span>
    </p>
    <div class="row">
        @foreach (var item in this.Model.OtherFileList)
        {
            <div class="col-md-2 img-thumbnail">
                <button type="button" class="close" aria-label="Close" onclick="RemoveFile(this)" data-category="other" data-formid="@Model.Id" data-fileid="@item"><span aria-hidden="true">&times;</span></button>
                <img src="@Url.Action("Thumbnail", "File", new { id = item })" class="img-responsive" />
            </div>
        }
    </div>
}


<hr />
@Html.ActionLink("预览报名资料", "Detail", new { id = Model.Id }, new { @class = "btn btn-primary" })
@Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })

@section scripts
{
    @Scripts.Render("~/bundles/jqueryfileupload")
    @Scripts.Render("~/bundles/jquerytmpl")

    <script type="text/template" id="fileItem">
        <div class="col-md-2 img-thumbnail">
            <button type="button" class="close" aria-label="Close" onclick="RemoveFile(this)" data-category="${category}" data-formid="${formid}" data-fileid="${fileid}"><span aria-hidden="true">&times;</span></button>
            <img src="${src}" class="img-responsive" />
        </div>
    </script>
    <script>
        $(function () {
            'use strict';

            $("#headImageUpload").fileupload({
                dropZone: $("#headImageUpload"),
                dataType: 'json',
                progress: function (e, data) {
                    $(this).find("span.fileinput-button").children("span").text("正在传送...");
                },
                done: function (e, data) {
                    $(this).find("span.fileinput-button").children("span").text("上传");
                    var $uploadCtrl = $(this).parents("div.uploadCtrl").first(); //引发上传文件控件

                    if (data.result.Result != 0) {
                        alert("传送错误。" + data.result.Message);
                        return;
                    }
                    $("img#headimg").attr("src", "/File/Thumbnail/" + data.result.FileId);
                },
                fail: function (e, data) {
                    $(this).find("span.fileinput-button").children("span").text("上传");
                    $(this).prevAll("span").text("上传");
                    alert("传送文件遇到错误，可能文件过大。");
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

            $("form.fileupload").each(function () {
                $(this).fileupload({
                    dropZone: $(this),
                    dataType: 'json',
                    progress: function (e, data) {
                        $(this).find("span.fileinput-button").children("span").text("正在传送...");
                    },
                    done: function (e, data) {
                        //当传送完成时，应如何显示。
                        //alert("FileUpload");
                        $(this).find("span.fileinput-button").children("span").text("上传");

                        if (data.result.result != 0) {
                            alert("传送错误。" + data.result.message);
                            return;
                        }
                        $("#fileItem").tmpl(data.result).appendTo($(this).find("div.row"));
                    },
                    fail: function (e, data) {
                        $(this).find("span.fileinput-button").children("span").text("上传");
                        alert("传送文件遇到错误，文件过大。" + data.message);
                    }
                }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
            });

        });

        function RemoveFile(source) {
            if (confirm("确实要删除吗？")) {
                var category = $(source).data("category");
                var formid = $(source).data("formid");
                var fileid = $(source).data("fileid");
                var url;
                switch (category) {
                    case "academiccert":
                        url = "@Url.Action("RemoveAcademicCertFile")";
                        break;
                    case "degreecert":
                        url = "@Url.Action("RemoveDegreeCertFile")";
                        break;
                    case "other":
                        url = "@Url.Action("RemoveOtherFile")";
                        break;
                    default:
                        return;
                }

                $.post(url, { id: formid, fileid : fileid }, function (data, status, xhr) {
                    if (data != true) {
                        alert(data.message);
                        return;
                    }
                    else {
                        $(source).parents("div.img-thumbnail").remove();
                    }
                });
            }

        }

        function RemoveHeadImage() {
            if ($("img#headimg").attr("src") == "/Content/WebRes/NoHeadImage.jpg")
                return;

            if (confirm("确实要删除此文件吗？"))
            {
                $.post("@Url.Action("RemoveHeadImage", new { id = Model.Id })", null, function (data, status, xhr)
                {
                    if (data != true)
                    {
                        alert(data.message);
                        return;
                    }
                    else
                    {
                        $("img#headimg").attr("src", "/Content/WebRes/NoHeadImage.jpg");
                    }
                });
            }

        }
    </script>

}