@model IQueryable<ApplicationForm>
@{
    ViewBag.Title = "报名表";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>职位/计划</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Model)
            {
                <tr>
                    <td>@Html.ActionLink(form.Id.ToString(), "Detail", new { id = form.Id })</td>
                    <td>
                        <p>@Html.ActionLink(form.Job.Name, "Detail", "Job", new { id = form.JobId }, new { target = "_blank" })</p>
                        <p>@Html.ActionLink(form.Job.Plan.Title, "Detail", "RecruitmentPlan", new { id = form.Job.PlanId }, new { target = "_blank" })</p>
                    </td>
                    <td>@Html.Partial("_ApplicationStatus", form)</td>
                    <td>@Html.ActionLink("详细", "Detail", new { id = form.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>您目前没有报名表。请转到@(Html.ActionLink("职位", "Index", "Recruitment"))版块，选择合适的职位来报名。</p>
}