@model RecruitmentPlan
@{
    ViewBag.Title = Model.Title;
}

<div class="page-header">
    <h1>@Model.Title</h1>
</div>
<p>报名截止时间：@Model.EnrollExpirationDate.ToString("yyyy-MM-dd HH:mm") （@(Model.EnrollExpirationDate.SmartShow())）</p>
<p>发布时间：@(Model.WhenPublished.HasValue ? Model.WhenPublished.Value.ToShortDateString() : "未发布")</p>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h2 class="panel-title">
            <a role="button" href="#collapse" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                招聘简章
            </a>
        </h2>
    </div>
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body article">
            @Html.Raw(Model.Recruitment)
        </div>
    </div>
</div>


@if (!Model.WhenPublished.HasValue)
{
    <p>@Html.ActionLink("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) @Html.ActionLink("发布此计划", "Publish", new { id = Model.Id }, new { @class = "btn btn-primary" })</p>
}
<h2>职位/类别</h2>
@if (!Model.WhenPublished.HasValue)
{
    <p>@Html.ActionLink("创建职位", "CreateJob", new { planid = Model.Id }, new { @class = "btn btn-default" })</p>
}
@Html.Partial("JobList", Model.Jobs)

<p>创建时间：@Model.WhenCreated</p>
