@model RecruitmentPlanPublishViewModel
@{
    ViewBag.Title = "发布招聘计划";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>招聘计划发布后，即可接受求职者报名。请指定一个报名截止时间。</p>
<p class="alert alert-warning">招聘计划发布后，您将不能再修改报名计划。</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PlanId)
    <div class="form-group">
        @Html.LabelFor(m => m.EnrollExpirationDate, new { @class = "control-label" })
        @Html.EditorFor(m => m.EnrollExpirationDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.EnrollExpirationDate, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary" onclick="return confirm('发布招聘计划后，将不能修改，请再次确认!');">发布</button>
    @Html.ActionLink("修改此招聘计划", "Edit", new { id = Model.PlanId }, new { @class = "btn btn-default" })
    @Html.ActionLink("返回", "Detail", new { id = Model.PlanId }, new { @class = "btn btn-default" })


}