@model Article
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<p>
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="sr-only">作者：</span><span>@Model.CreatedBy</span>
	<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span class="sr-only">创建日期：</span><abbr title="@Model.WhenCreated.ToString()">@Model.WhenCreated.ToShortDateString()</abbr>
</p>
<hr />
@Html.Raw(Model.MainContent)
