@model IQueryable<ExaminationPlan>

<table class="table table-striped">
    <thead>
        <tr>
            <th>计划编号</th>
            <th>标题</th>
            <th>发布时间</th>
            <th>声明截止时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Any())
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@(item.WhenPublished.HasValue?item.WhenPublished.Value.ToString():"未发布")</td>
                    <td>@item.AttendanceConfirmationExpiresAt</td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>