@model IQueryable<ExaminationPlan>

<table class="table table-striped">
    <thead>
        <tr>
            <th>考试</th>
            <th>发布时间</th>
            <th>确认截止时间</th>
            <th>准考证发放时间</th>
            <th>科目</th>
            <th>候选人</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, "Detail", new { id = item.Id }, new { target = "_blank" })</td>
                    <td>@Html.DisplayFor(m => item.WhenPublished)</td>
                    <td>@item.AttendanceConfirmationExpiresAt.ToString("M月d日 HH:mm")</td>
                    <td>@Html.DisplayFor(m => item.WhenAdmissionTicketReleased)</td>
                    <td>@item.Subjects.Count</td>
                    <td>@item.Candidates.Count</td>
                </tr>
            }
        }
    </tbody>
</table>