@model SubjectEditViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Subject, new { @class = "control-label" })
    @Html.EditorFor(m => m.Subject, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DescriptionFor(m => m.Subject)
    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StartTime, new { @class = "control-label" })
    @Html.EditorFor(m => m.StartTime, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DescriptionFor(m => m.StartTime)
    @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EndTime, new { @class = "control-label" })
    @Html.EditorFor(m => m.EndTime, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DescriptionFor(m => m.EndTime)
    @Html.ValidationMessageFor(m => m.EndTime, "", new { @class = "text-danger" })
</div>
