@model IQueryable<Candidate>
@{
    ViewBag.Title = "编制准考证";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>键入准考证号、考场号和座位号。注意，准考证号不能重复，考场号和座位号的组合不能重复。全部编制完成后，点击关闭即可。</p>
<p>该列表按照用户的身份证号码进行排序。</p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>身份证号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>准考证号</th>
            <th>考场</th>
            <th>座位</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Person.IDCardNumber</td>
                <td>@item.Person.DisplayName</td>
                <td>@(item.Person.Sex == Sex.Male ? "Male" : "Female")</td>
                <td><input type="text" data-url="@Url.Action("UpdateTicketNumber")" data-personid="@item.PersonId" data-examid="@item.ExamId" value="@item.AdmissionNumber" /></td>
                <td><input type="text" data-url="@Url.Action("UpdateRoom")" data-personid="@item.PersonId" data-examid="@item.ExamId" value="@item.Room" /></td>
                <td><input type="text" data-url="@Url.Action("UpdateSeat")" data-personid="@item.PersonId" data-examid="@item.ExamId" value="@item.Seat" /></td>
            </tr>
        }
    </tbody>
</table>

<a href="#" onclick="window.close();" class="btn btn-default">关闭</a>

@section scripts
{
    <script>

        $(function () {
            $("input[type=text]").change(function () {
                var ctl = $(this);
                $.post($(this).data("url"), { personid: $(this).data("personid"), examid: $(this).data("examid"), data: $(this).val() }, function (data, status, xhr) {
                    if (data != true) {
                        alert(data);
                        ctl.val("");
                        ctl.focus();
                    }
                });

            });
        });

    </script>

}