@model Candidate
@{
    ViewBag.Title = "准考证";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<p class="hidden-print text-right"><a href="#" onclick="window.print();" class="btn btn-primary">打印</a></p>
<div class="page-header">
    <h1><small>@(TalentGoWebApp.Properties.Settings.Default.OrganizationName)@(Model.Plan.Title)准考证</small></h1>
</div>
<p class="text-right">@Model.Plan.WhenAdmissionTicketReleased.Value.ToString("yyyy年MM月dd日")</p>
<p class="text-right">@Html.Raw(BarcodeHtmlHelper.EmbedBarcodeImage("S=" + Symbology.Code128.ToString() + "&C=" + Model.AdmissionNumber, "准考证号", "", ""))</p>
<table class="table table-bordered table-condensed">
    <colgroup>
        <col class="col-md-6" />
        <col class="col-md-6" />
    </colgroup>
    <tbody>
        <tr>
            <td width="50%">
                <p>准考证号：@Model.AdmissionNumber </p>
                <p>身份证号：@Model.Person.IDCardNumber</p>
                <p>姓名：@Model.Person.DisplayName 性别：@(Model.Person.Sex == Sex.Male ? "男" : "女")</p>
                <p>申请职位/类别：@Model.ApplyFor</p>
            </td>
            <td width="50%">
                <p>考场地址：@Model.Plan.Address </p>
                <p>考场号：@Model.Room</p>
                <p>座位号：@Model.Seat</p>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>科目</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plan.Subjects)
        {
            <tr>
                <td>@item.Subject</td>
                <td>@item.StartTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.EndTime.ToString("HH:mm")</td>
            </tr>
        }
    </tbody>
</table>

<h2><small>考试须知</small></h2>
<div class="article small">
    @Html.Raw(Model.Plan.Notes)
</div>