@model Candidate
@{
    ViewBag.Title = "准考证";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<p class="hidden-print text-right"><a href="#" onclick="window.print();" class="btn btn-primary">打印</a></p>

<div class="page-header">
    <h1>@(TalentGoWebApp.Properties.Settings.Default.OrganizationName)@(Model.Plan.Title)准考证</h1>
</div>
<p>
    准考证号：@Model.AdmissionNumber @Html.Raw(BarcodeHtmlHelper.EmbedBarcodeImage("S=" + Symbology.Code128.ToString() + "&C=" + Model.AdmissionNumber, "准考证号", "", ""))
</p>
<p>姓名：@Model.Person.DisplayName 性别：@(Model.Person.Sex == Sex.Male ? "男" : "女") 身份证号：@Model.Person.IDCardNumber</p>
<p>申请职位/类别：@Model.ApplyFor</p>
<p>考场地址：@Model.Plan.Address 考场：@Model.Room 座位：@Model.Seat</p>

<h2>考试科目</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plan.Subjects)
        {
            <tr>
                <td>@item.Subject</td>
                <td>@item.StartTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.EndTime.ToString("HH:mm")</td>
            </tr>
        }
    </tbody>
</table>

<h2>考试须知</h2>
<div class="article">
    @Html.Raw(Model.Plan.Notes)
</div>