@model IEnumerable<Article>

@{
	ViewBag.Title = "Index";
}

<h2>公告管理</h2>

<p>
	@if (this.User.IsInRole("QJYC\\招聘管理员"))
	{
		@Html.ActionLink("创建新公告", "Create", null, new { @class = "btn btn-default" })
	}

</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		@* <th>
				@Html.DisplayNameFor(model => model.Summary)
			</th>
		*@
		<th>
			@Html.DisplayNameFor(model => model.CreatedBy)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.WhenCreated)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.WhenChanged)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Visible)
		</th>
		<th>
			关联/属性
		</th>
		<th>操作</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			@* <td>
					@Html.DisplayFor(modelItem => item.Summary)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.CreatedBy)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.WhenCreated)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.WhenChanged)
			</td>
			<td>
				@(item.Visible ? "是" : "否")
			</td>
			<td>
				@if (item.RelatedPlan.HasValue)
				{
					@item.RecruitmentPlan.Title
				}
				else
				{
					@(item.IsPublic.HasValue ? (item.IsPublic.Value ? "公开" : "非公开") : "均可")
				}

			</td>
			<td>
				@if (this.User.IsInRole("QJYC\\招聘管理员"))
				{
					<p>
						@Html.ActionLink("编辑", "Edit", new { id = item.id }) |
						@Html.ActionLink("删除", "Delete", new { id = item.id })
					</p>
				}
			</td>
		</tr>
	}

</table>
