
@{
    ViewBag.Title = "预览报名信息";
}

<h2>个人报名信息</h2>

@Html.Partial("_EnrollmentDataViewer")
@Html.Partial("_EnrollmentArchiveDataViewer")

@Html.Partial("_EnrollmentDataPropertiesViewer")
@Html.Partial("_EnrollmentDataOperationPanel")

@Html.ActionLink("返回报名首页", "Index", null, new { @class = "btn btn-default" })