@model TalentGoWebApp.Models.RecruitmentPanelStateModel


@if (Model.HasEnrollment)
{
	@Html.Partial("EnrollmentStatePartial", Model.Enrollment)
	@Html.ActionLink("浏览我的报名信息", "PreviewEnrollment", null, new { @class = "btn btn-default" })
	if (Model.Enrollment.WhenCommited.HasValue)
	{

		if (Model.Enrollment.WhenAudit.HasValue && Model.Enrollment.Approved.Value)
		{
			//审核通过的
			if (Model.Plan.AnnounceExpirationDate.Value > DateTime.Now && !Model.Enrollment.WhenAnnounced.HasValue)
			{
				@Html.ActionLink("声明参加考试", "AnnounceForExam", null, new { @class = "btn btn-primary" })
			}
		}
	}
	else
	{
		if (Model.Plan.EnrollExpirationDate.Value >= DateTime.Now)
		{
			@Html.ActionLink("修改我的报名表", "Enroll", null, new { @class = "btn btn-default" })
			@Html.ActionLink("管理报名资料", "UploadArchives", null, new { @class = "btn btn-default" })
			@Html.ActionLink("提交报名", "CommitEnrollment", null, new { @class = "btn btn-primary" })
		}
		else
		{
			<span class="text-danger">报名已截止</span>
		}
	}
}
else
{
	@Html.ActionLink("报名", "Enroll", new { id = Model.Plan.id }, new { @class = "btn btn-primary" })
}