@model IEnumerable<ArchiveCategory>
@{
	ViewBag.Title = "基本信息维护";
}

<div class="page-header text-center">
	<h2>招聘图片资料项管理</h2>
</div>
@if (this.User.IsInRole("QJYC\\招聘管理员"))
{
	<p>
		@Html.ActionLink("添加图片资料定义", "Create", null, new { @class = "btn btn-default" })
	</p>

}



<table class="table">
	<tr>
		<th>示例图片</th>
		<th>资料类型</th>
		<th>简要说明</th>
		<th>是否可用</th>
		<th>操作</th>
	</tr>

	@foreach (ArchiveCategory AC in Model)
	{
	<tr>
		<td>
			@if (!string.IsNullOrEmpty(AC.MimeType))
			{
				<img src="@Url.Action("GetPicture", "BaseData", new {eaid = AC.id })" style="max-width: 100px; max-height: 150px;" class="img-responsive" />
			}
			else
			{
				<p>无</p>
			}
		</td>
		<td>
			<p>@AC.Name</p>
		</td>
		<td>
			<p>@AC.Description</p>
		</td>
		<td>
			@if (AC.Enabled == true)
			{
				<p>是</p>
			}
			else {
				<p>否</p>
			}
		</td>
		<td>
			@if (this.User.IsInRole("QJYC\\招聘管理员"))
			{
				@Html.ActionLink("修改", "Update", new { id = AC.id })
			}
			
		</td>
	</tr>
	}

</table>






@Html.ActionLink("返回招聘管理首页", "Index", "Home", null, new { @class = "btn btn-default" })


