@model Person
@{
    ViewBag.Title = Model.DisplayName + "的详细信息";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<h2>实名身份信息</h2>
<p>姓氏：@Model.Surname</p>
<p>名字：@Model.GivenName</p>
<p>显示为：@Model.DisplayName</p>
<p>身份证号码：@Model.IDCardNumber</p>
<p>性别：@(Model.Sex == Sex.Male ? "男" : "女")</p>
<p>出生时间：@Model.DateOfBirth.ToShortDateString()</p>
<p>民族：@Model.Ethnicity</p>
<p>住址：@Model.Address</p>
<p>签发机关：@Model.Issuer</p>
<p>有效期起：@(Model.IssueDate.HasValue?Model.IssueDate.Value.ToShortDateString():"")</p>
<p>有效期至：@(Model.ExpiresAt.HasValue?Model.ExpiresAt.Value.ToShortDateString():"长期")</p>
<p>实名认证提交时间：@Model.WhenRealIdCommited</p>
<p>通过实名认证：@Model.RealIdValid</p>
<p>认证时间：@Model.WhenRealIdValid</p>
<p>认证人：@Model.RealIdValidBy</p>
<div class="row">
    <div class="col-md-3 img-thumbnail">
        <img src="@Url.Action("Index", "File", new { id = Model.IDCardFrontFile })" class="img-responsive" />
        <div class="caption">
            ID Card Front Side
        </div>
    </div>
    <div class="col-md-3 img-thumbnail">
        <img src="@Url.Action("Index", "File", new { id = Model.IDCardBackFile })" class="img-responsive" />
        <div class="caption">
            ID Card Back Side
        </div>
    </div>
</div>

<h2>联系信息</h2>
<p>移动电话：@Model.Mobile</p>
<p>电子邮件：@Model.Email</p>

<h2>账户属性</h2>
<p>USER ID：@Model.Id</p>
<p>注册时间：@Model.WhenCreated</p>
<p>修改时间：@Model.WhenChanged</p>

<h2>操作</h2>
<p>@Html.ActionLink("认证实名信息", "ValidateRealId", new { id = Model.Id })</p>
<p>@Html.ActionLink("重置认证状态", "ResetRealIdState", new { id = Model.Id })</p>
<p>@Html.ActionLink("删除账户", "Delete", new { id = Model.Id })</p>