@model IQueryable<Person>
@{
    ViewBag.Title = "搜索用户";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (Html.BeginForm("Search", "Person", FormMethod.Get))
{
    <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="输入身份证号、移动电话号码、电子邮件地址或姓名以搜索">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">搜索</button>
        </span>
    </div><!-- /input-group -->
}
@if (Model != null)
{
    <p>为您找到以下搜索结果：</p>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>身份证号码</th>
                <th>姓名</th>
                <th>性别</th>
                <th>移动电话</th>
                <th>电子邮件</th>
                <th>注册时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IDCardNumber</td>
                    <td>@item.DisplayName</td>
                    <td>@(item.Sex == Sex.Male ? "男" : "女")</td>
                    <td>@item.Mobile</td>
                    <td>@item.Email</td>
                    <td>@item.WhenCreated</td>
                    <td>@Html.Partial("_RealIdState", item)</td>
                    <td>@Html.ActionLink("Detail", "Detail", new { id = item.Id }, new { target = "_blank" })</td>
                </tr>
            }
        </tbody>
    </table>
}