@model ReadIdEditViewModel
@{
    ViewBag.Title = "编辑实名身份信息";
}

<div class="page-header">
    <h1>编辑实名身份信息</h1>
</div>
<p>您的账户已经注册成功，我们需要您完成实名身份认证。</p>
<p>请对照您的身份证，如实填写下列信息。</p>
<p>下一步，我们需要您上传身份证照片，然后进行实名身份验证。</p>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
        @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Surname)
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GivenName, new { @class = "control-label" })
        @Html.EditorFor(m => m.GivenName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.GivenName)
        @Html.ValidationMessageFor(m => m.GivenName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ethnicity, new { @class = "control-label" })
        @Html.EditorFor(m => m.Ethnicity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Ethnicity)
        @Html.ValidationMessageFor(m => m.Ethnicity, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Issuer, new { @class = "control-label" })
        @Html.EditorFor(m => m.Issuer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Issuer)
        @Html.ValidationMessageFor(m => m.Issuer, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IssueDate, new { @class = "control-label" })
        @Html.EditorFor(m => m.IssueDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.IssueDate)
        @Html.ValidationMessageFor(m => m.IssueDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExpiresAt, new { @class = "control-label" })
        @Html.EditorFor(m => m.ExpiresAt, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.ExpiresAt)
        @Html.ValidationMessageFor(m => m.ExpiresAt, "", new { @class = "text-danger" })
    </div>
    @Html.ValidationSummary()
    <button type="submit" class="btn btn-primary">下一步</button>
    @Html.ActionLink("暂时跳过", "Index", "Home")
}

@section scripts
{
    <script>
        $("#@Html.NameFor(m => m.Ethnicity)").autocomplete({
            source: ["汉", "蒙古", "回", "藏", "维吾尔", "苗", "彝", "壮", "布依", "朝鲜", "满", "侗", "瑶", "白", "土家", "哈尼", "哈萨克", "傣", "黎", "傈僳", "佤", "畲", "高山", "拉祜", "水", "东乡", "纳西", "景颇", "柯尔克孜", "土", "达翰尔", "仫佬", "羌", "布朗", "撒拉", "毛南", "仡佬", "锡伯", "阿昌", "普米", "塔吉克", "怒", "乌孜别克", "俄罗斯", "鄂温克", "德昂", "保安", "裕固", "京", "塔塔尔", "独龙", "鄂伦春", "赫哲", "门巴", "珞巴", "基诺", "其他"],
            delay: 0,
            minLength: 0
        });

    </script>

}