@model EditPersonInfoModel
@{
    ViewBag.Title = "编辑实名身份信息";
}

<div class="page-header">
    <h1>编辑实名身份信息</h1>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Ethnicity, new { @class = "control-label" })
        @Html.EditorFor(m => m.Ethnicity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Ethnicity)
        @Html.ValidationMessageFor(m => m.Ethnicity, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Issuer, new { @class = "control-label" })
        @Html.EditorFor(m => m.Issuer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.Issuer)
        @Html.ValidationMessageFor(m => m.Issuer, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IssueDate, new { @class = "control-label" })
        @Html.EditorFor(m => m.IssueDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.IssueDate)
        @Html.ValidationMessageFor(m => m.IssueDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExpiresAt, new { @class = "control-label" })
        @Html.EditorFor(m => m.ExpiresAt, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DescriptionFor(m => m.ExpiresAt)
        @Html.ValidationMessageFor(m => m.ExpiresAt, "", new { @class = "text-danger" })
    </div>
    @Html.ValidationSummary()
    <button type="submit" class="btn btn-primary">提交</button>
}

