<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - @TalentGoManagerWebApp.Properties.Settings.Default.SystemTitle</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryuicss")
    @Styles.Render("~/Content/bootstrapDatetimePicker")

    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(TalentGoManagerWebApp.Properties.Settings.Default.SystemTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("招聘计划", "Index", "RecruitmentPlan")</li>
                    <li>@Html.ActionLink("用户", "Index", "Person")</li>
                    <li>@Html.ActionLink("报名表", "Index", "ApplicationForm")</li>
                    <li>@Html.ActionLink("考试", "Index", "Examination")</li>
                    <li>@Html.ActionLink("网站公告", "Index", "Notice")</li>
                </ul>
                <p class="nav navbar-text navbar-right">你好，@Html.DomainUser().DisplayName</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @TalentGoManagerWebApp.Properties.Settings.Default.OrganizationName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @Html.RenderScripts()
</body>
</html>
