@model IEnumerable<Notice>

@{
    ViewBag.Title = "公告管理";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>
    @Html.ActionLink("创建", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>标题</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Detail", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenCreated)
                </td>
                <td>
                    @(item.WhenPublished.HasValue ? "已发布" : "")
                </td>
                <td>
                    @if (!item.WhenPublished.HasValue)
                    {
                        <span>
                            @Html.ActionLink("发布", "Publish", new { id = item.Id }) |
                            @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.Id })
                        </span>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
