@model ApplicationForm
@{
	ViewBag.Title = "声明参加考试";
}
<div class="page-header">
	<h2>声明参加考试</h2>
</div>
<div>
	<p>您所提交的报名表以及报名相关资料已经通过初步审核。</p>
	<p>拟定考试时间为：<span class="text-danger">@Model.RecruitmentPlan.ExamStartTime 至 @Model.RecruitmentPlan.ExamEndTime</span>，考试地点为:<span class="text-danger">@Model.RecruitmentPlan.ExamLocation</span>。请根据已发布的考试时间和地点，结合您自己的计划安排，向我们提交声明是否参加考试的决定。</p>
	<p>请慎重作出您的决定。您的声明只能提交一次，且不能更改。</p>
	<p>如果您决定参加考试，请务必于在规定的时间前往考试地点参加考试。如果您由于某些原因或计划冲突无法按时前往参加考试，请向我们声明您不参加考试。</p>
	<p>若您没有规定的声明截止期内提交是否参加考试的决定，我们将视为您不参加考试。</p>
	<p>如果您不参加考试，将不能进入考场。与您关联的招聘流程也随之终止。这意味着您放弃本次应聘机会。</p>
	<p>若您声明参加考试，但最终未能前往，请于开始考试前向人事部门说明原因。若您声明参加考试，但不明原因无故缺席考试，我们可能会在您将来再次应聘我公司时将此无故缺席考试的行为作为审核评估选项审慎考虑。</p>
	<hr />
	<span class="text-danger">请仔细阅读上述条款后，作出您的决定：</span>
	<br />
</div>

@using (Html.BeginForm())
{
	<label>
		@Html.RadioButton("IsTakeExam", true, true) 我决定参加考试
	</label>
	<label>
		@Html.RadioButton("IsTakeExam", false) 我决定放弃参加考试
	</label>
	<br />
	<input type="submit" onclick="return confirm('请再次确认您的声明。确定提交吗？');" class="btn btn-default" value="提交声明" />
}
