@model Enrollment
@{
	ViewBag.Title = "提交报名";
}

<h2>提交报名</h2>
@try
{
	if (@Html.ValidationSummary(true).ToString() != null)
	{
		<span class="text-danger">注意：你提交的图片资料不完整，无法完成报名提交，请至本页面底部查看详细情况！</span>
	}
}
catch (Exception)
{ }

@Html.Partial("_EnrollmentDataViewer")
@Html.Partial("_EnrollmentArchiveDataViewer")

@*@Html.Partial("_EnrollmentDataPropertiesViewer")*@

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken();
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="checkbox">
		<label>
			@Html.CheckBox("Agreement") 本人自愿参加曲靖市烟草公司的人才招聘，上述信息为本人亲自填写，内容真实，若与本人学籍档案、毕业证、学位证、报到证不一致，或不能按时提供真实有效的毕业证、学位证、学历证验证报告、报到证，则自愿接受曲靖市烟草公司“取消录用资格”的意见。
		</label>
	</div>
	<input type="submit" value="确认并提交报名" class="btn btn-primary" onclick="return CheckAgreement();" />
	@Html.ActionLink("修改报名表", "Enroll", null, new { @class = "btn btn-default" })
	@Html.ActionLink("管理报名资料", "UploadArchives", null, new { @class = "btn btn-default" })
	@Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
}

@using (Html.BeginScriptContext())
{
	Html.AddScriptBlock(
		@<script>
			function CheckAgreement() {
				if (!$("#Agreement").prop("checked")) {
					alert("您必须同意本人意见条款，并对所提交资料做出真实性承诺，才能进行提交。");
					return false;
				}

				return true;
			}
		</script>
	);
}