@model IQueryable<RecruitmentPlan>
@{
    ViewBag.Title = "招聘计划/职位";
}

<div class="page-header">
    <h1>招聘计划/职位</h1>
</div>
@if (Model.Any())
{
    <p>此处列出了可报名职位。</p>
    foreach (RecruitmentPlan plan in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">@Html.ActionLink(plan.Title, "Detail", new { id = plan.Id })</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>发布日期：@plan.WhenPublished.Value.ToShortDateString()</p>
                        <p>报名截止日期：@plan.EnrollExpirationDate.ToString("yyyy-MM-dd HH:mm")（@plan.EnrollExpirationDate.SmartShow()）</p>
                        <p>@Html.ActionLink("查看招聘简章", "Detail", new { id = plan.Id }, new { @class = "btn btn-default" })</p>
                    </div>
                    <div class="col-md-6">
                        <h3>通知消息</h3>
                        @Html.Partial("_NotificationPanel", plan.Notifications.OrderByDescending(n => n.WhenCreated))
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <caption>
                    <h3>职位/方向</h3>
                </caption>
                <colgroup>
                    <col class="col-md-2" />
                    <col class="col-md-2" />
                    <col class="col-md-2" />
                    <col class="col-md-2" />
                    <col class="col-md-2" />
                    <col class="col-md-2" />
                </colgroup>
                <thead>
                    <tr>
                        <th>职位</th>
                        <th>学历要求</th>
                        <th>学位要求</th>
                        <th>专业要求</th>
                        <th>工作地点</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in plan.Jobs)
                    {
                        <tr>
                            <td>@job.Name</td>
                            <td>@job.EducationBackgroundRequirement</td>
                            <td>@job.DegreeRequirement</td>
                            <td>@job.MajorRequirement</td>
                            <td>@job.WorkLocation</td>
                            <td>
                                @Html.ActionLink("详细", "Detail", "Job", new { id = job.Id }, new { @class = "btn btn-sm btn-default" })
                                @Html.ActionLink("报名", "Enroll", "ApplicationForm", new { id = job.Id }, new { @class = "btn btn-sm btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <p>目前没有可以报名的职位。请等待人力资源部门发布职位信息，谢谢关注！</p>
}