@model IQueryable<ApplicationForm>
@{
    Layout = "~/Views/Shared/_Layout-Fluid.cshtml";
    ViewBag.Title = "审核报名表";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-6">
        @*@Html.Action("Statistics")*@
    </div>
</div>


@using (Html.BeginForm("AuditList", "ApplicationForm", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.TextBox("q", this.Request["q"], new { @class = "form-control", placeholder = "搜索" })
        </div>
        <div class="form-group">
            @Html.DropDownList("audit", new List<SelectListItem>()
{
new SelectListItem()
{
Text = "所有审核", Value = ""
},
new SelectListItem()
{
Text = "通过", Value = "true"
},
new SelectListItem()
{
Text = "未通过", Value = "false"
},
}, new { @class = "form-control" })
        </div>
        @Html.Hidden("order", this.Request["order"])
        <div class="form-group">
            <input type="submit" value="确定" class="btn btn-primary" /> @Html.ActionLink("导出Excel", "ExportAuditList", null, new { @class = "btn btn-default" })
        </div>
    </div>
    @Html.Hidden("page", this.Request["page"])
}

@if (ViewBag.AllCount != 0)
{
    <p>共 @ViewBag.AllCount 条数据，每页显示30条。</p>
    <table class="table table-striped table-hover table-condensed">
        <colgroup>
            <col style="width: 5%" />
            <col style="width: 5%" />
            <col style="width: 5%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
            <col style="width: 5%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
        </colgroup>
        <thead>
            <tr>
                <th><a href="#" class="column-title" data-col="Id">#</a></th>
                <th><a href="#" class="column-title" data-col="Person.DisplayName">姓名</a></th>
                <th><a href="#" class="column-title" data-col="Person.Sex">性别</a> <a href="#" class="column-title" data-col="Person.DateOfBirth">出生年月</a></th>
                <th><a href="#" class="column-title" data-col="School">毕业院校</a></th>
                <th><a href="#" class="column-title" data-col="Major">主修专业</a></th>
                <th><a href="#" class="column-title" data-col="EducationalBackground">学历</a> <a href="#" class="column-title" data-col="Degree">学位</a></th>
                <th><a href="#" class="column-title" data-col="Job.Name">职位</a></th>
                <th><a href="#" class="column-title" data-col="SelectedMajor">报名专业</a></th>
                <th><a href="#" class="column-title" data-col="Tags">标记</a></th>
                <th><a href="#" class="column-title" data-col="AuditFlag">审核</a></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Id.ToString(), "Detail", new { id = item.Id }, new { target = "_blank" })</td>
                <td>@Html.ActionLink(item.Person.DisplayName, "Detail", "Person", new { id = item.PersonId }, new { target = "_blank" })</td>
                <td>
                    @(item.Person.Sex == Sex.Male ? "男" : "女")
                    <span title="@item.Person.DateOfBirth.ToShortDateString()">@(item.Person.DateOfBirth.Age())岁</span>
                </td>
                <td>@item.School</td>
                <td>@item.Major</td>
                <td>
                    @item.EducationalBackground
                    @item.Degree
                </td>
                <td>@item.Job.Name</td>
                <td>@item.SelectedMajor</td>
                <td><input class="form-tags" type="text" value="@item.Tags" data-formid="@item.Id" /></td>
                <td>
                    <label>
                        <input type="checkbox" class="form-audit" data-formid="@item.Id" @(item.AuditFlag ? "checked=\"checked\"" : string.Empty ) />通过
                    </label>
                </td>
            </tr>
        }

    </table>
    <p>共 @ViewBag.AllCount 条数据，每页显示30条。</p>
    @Html.Partial("_Pager", new Paging() { AllCount = this.ViewBag.AllCount, PageIndex = string.IsNullOrEmpty(this.Request["page"]) ? 0 : int.Parse(this.Request["page"]), PageSize = 30 })


}
else
{
    <p>没有符合条件的数据</p>
}

@section Scripts
{

    <script>
        $(function () {
            $("input[type=checkbox].form-audit").click(function () {
                $.post("@Url.Action("SetAuditFlag")", { formId: $(this).data("formid"), audit: $(this).prop("checked") }, function (data, status, xhr) {
                    if (data != true) {
                        alert(data);
                        if ($(this).prop("checked"))
                            $(this).prop("checked", false);
                        else
                            $(this).prop("checked", true);
                        return;
                    }
                });

            });

            $(".column-title").click(function () {
                if ($("#order").val() == $(this).data("col"))
                    $("#order").val($(this).data("col") + " desc");
                else
                    $("#order").val($(this).data("col"));
                $("form").submit();
            });

            $("input[type=text].form-tags").change(function () {
                $.post("@Url.Action("SetTags")", { formId: $(this).data("formid"), tags: $(this).val() }, function (data, status, xhr) {
                    if (data != true) {
                        alert(data + "|数据可能未保存，请刷新以检查更改。");
                    }
                });
            });
        });

    </script>
}
