
@{
    ViewBag.Title = "报名表管理";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">查询和搜索</div>
    <div class="panel-body">
        <p>根据报名表号，报名人相关信息查找报名表。</p>
        @using (Html.BeginForm("Search", "ApplicationForm", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="输入报名表号、姓名以检索报名表">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div><!-- /input-group -->

        }
        <p>浏览报名表</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">资料审查</div>
    <div class="panel-body">
        <p>资料审查的目的是检查报名表及关联资料是否相符。</p>
        <p>未通过资料审查的，将会立即通知报名者。</p>
        <p>？份报名表待审查。@Html.ActionLink("查看", "PendingFileReview")</p>
        @Html.ActionLink("审查...", "FileReview", null, new { @class = "btn btn-default", target = "_blank" })
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">资格审核</div>
    <div class="panel-body">
        <p>资格审核时，您可以为报名表填写审核标记。只有完成资格审核后，审核结果才会通知报名者。</p>
        @Html.ActionLink("待审核报名表", "PendingAudit", null, new { @class = "btn btn-default" })
        @Html.ActionLink("审核...", "Audit", null, new { @class = "btn btn-default", target = "_blank" })
        @Html.ActionLink("完成资格审核", "CompleteAudit", null, new { @class = "btn btn-default" })
    </div>
</div>