@model List<ArchiveRequirementsViewModel>
@{
	ViewBag.Title = "编辑文档需求";
}

<h2>编辑文档需求</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <table class="table">
		<thead>
			<tr>
				<td>文档名称</td>
				<td>已启用</td>
				<td>需求类型</td>
			</tr>
		</thead>
		@for(int i = 0; i < Model.Count; i ++)
		{
			<tr>
				<td>@Model[i].ArchiveCategory.Name @Html.HiddenFor(m => m[i].ArchiveCategory.id)</td>
				<td>@Html.CheckBoxFor(m => m[i].Enabled)</td>
				<td>@Html.DropDownListFor(m => m[i].RequirementType, new List<SelectListItem>() {
				   new SelectListItem() { Text = "一个", Value = RequirementType.One.ToString(), Selected = Model[i].RequirementType == "One" },
				   new SelectListItem() { Text = "一个或多个", Value = RequirementType.OneOrMore.ToString(), Selected = Model[i].RequirementType == "OneOrMore" },
				   new SelectListItem() { Text = "零个或多个", Value = RequirementType.ZeroOrMore.ToString(), Selected = Model[i].RequirementType == "ZeroOrMore" },
				   new SelectListItem() { Text = "零个或一个", Value = RequirementType.ZeroOrOne.ToString(), Selected = Model[i].RequirementType == "ZeroOrOne" }
			   })</td>
			</tr>
		}
	</table>

	<input type="submit" class="btn btn-default" value="确定并保存" /> @Html.ActionLink("放弃", "Index", null, new { @class = "btn btn-default" })
}