@model ApplicationForm

@*显示报名表*@

<h3 align="center">曲靖市烟草专卖局（公司）毕业生招录用报名表</h3>

<div class="table-responsive" style="font-size: 1.2em;">
	<table class="table table-bordered">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col style="width: 10%;" />
		</colgroup>
		<tr>
			<td colspan="7">招聘计划： @Model.Job.Plan.Title</td>
		</tr>
		<tr>
			<td>姓名</td>
			<td>@Model.Name</td>
			<td>性别</td>
			<td>@Model.Person.Sex</td>
			<td>出生日期</td>
			<td>@Model.Person.DateOfBirth.ToShortDateString()</td>
			<td rowspan="4">
				<img src="@Url.Action("HeadImage", "ArchiveData", new { planid = Model.Job.PlanId, userid = Model.PersonId, area = "" })" class="img-responsive" style="max-height: 240px; max-width: 180px;" />
			</td>
		</tr>
		<tr>
			<td>民族</td>
			<td>@Model.Person.Ethnicity</td>
			<td>籍贯</td>
			<td colspan="2">@Model.NativePlace</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>政治面貌</td>
			<td>@Model.PoliticalStatus</td>
			<td>健康状况</td>
			<td>@Model.Health</td>
			<td>婚姻状况</td>
			<td>@Model.Marriage</td>
		</tr>
		<tr>
			<td>身份证号</td>
			<td colspan="2">@Model.Person.IDCardNumber</td>
			<td>联系电话</td>
			<td colspan="2">@Model.Person.Mobile</td>
		</tr>
		<tr>
			<td>现居地</td>
			<td colspan="6">@Model.Source</td>
		</tr>
		<tr>
			<td>毕业学校（院）</td>
			<td colspan="2">@Model.School</td>
			<td>所学专业</td>
			<td colspan="3">@Model.Major</td>
		</tr>
		<tr>
            <td>全日制教育最高学位</td>
            <td colspan="2">@Model.Degree</td>
            <td>全日制教育最高学历</td>
            <td colspan="3">@Model.EducationBackground</td>
		</tr>
		<tr>
            <td>毕业年度</td>
            <td colspan="2">@Model.YearOfGraduated 年</td>
            <td>报考专业类别</td>
            <td colspan="3">@Model.Job.Name</td>
		</tr>
		<tr>
			<td colspan="7">学习简历</td>
		</tr>
		<tr>
			<td colspan="7">
				<pre style="border: none; background: none;">@Model.Resume</pre>
			</td>
		</tr>
		<tr>
			<td>
				个人主要特长<br />
				及学习成果
			</td>
			<td colspan="6">@Model.Accomplishments</td>
		</tr>
	</table>
</div>
