@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <p class="nav navbar-nav navbar-right navbar-text">
            <a href="@Url.Action("Index", "UserProfile", routeValues: null)" class="navbar-link" target="_blank" title="访问用户中心">
                @Html.CurrentUser().DisplayName
            </a>
            @if (Html.CurrentUser().RealIdValid.HasValue)
            {
                if (Html.CurrentUser().RealIdValid.Value)
                {
                    <span class="glyphicon glyphicon-certificate" title="已通过实名身份认证"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-warning-sign" style="color: red" title="实名认证失败"></span>
                }

            }
            @Html.ActionLink("用户中心", "Index", "UserProfile", routeValues: null, htmlAttributes: new { @class = "navbar-link" })
            <a href="javascript:document.getElementById('logoutForm').submit()" class="navbar-link">注销</a>
        </p>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "RegisterAgreement", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
